@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
--background: #faf8fc; /* matches background-light */
--foreground: #171717;
--primary: #7f19e6;
}

@theme inline {
--color-background: var(--background);
--color-foreground: var(--foreground);
--color-primary: var(--primary);
--font-sans: var(--font-geist-sans);
--font-display: "Spline Sans", sans-serif;
--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
:root {
--background: #191121; /* matches background-dark */
--foreground: #ededed;
}
}

body {
background-color: var(--background);
color: var(--foreground);
font-family: "Spline Sans", Arial, Helvetica, sans-serif;
}
